.communityList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.communityMember {
  color: inherit;
  flex-grow: 0;
  padding: 0 0.3em 0.3em;
}
.communityMember-xs {
  --ifm-avatar-photo-size: 30px;
}
.communityMember-sm {
  --ifm-avatar-photo-size: 50px;
}
.communityMember-md {
  --ifm-avatar-photo-size: 100px;
}
.communityMember-lg {
  --ifm-avatar-photo-size: 150px;
}
.communityMember-xl {
  --ifm-avatar-photo-size: 300px;
}

.communityMember:hover img {
  transform: scale(1.05);
  transition-duration: 75ms;
}

.communityHome {
  justify-content: center;
}

.communityHome .communityMember {
  padding: 0 1% 2%;
}

.communityHome .communityMember img {
  --ifm-avatar-photo-size: calc(max(50px,min(100vw/6,100px)));
}

.communityCalendar {
  justify-content: right;
  padding: 0;
}

.communityCalendar .communityMember {
  margin: 0;
  padding: 0;
  margin-left: -1rem;
}