.liveBorder img {
  --live-border-witdh: 3px;
  box-sizing: border-box;
  border-style: solid;
  border-color: #e53935;
  border-radius: 50%;
  border-width: 10px;
  animation:
    liveBorderAppear 0.1s forwards,
    liveBorderPulse 1.2s infinite alternate;
}

.liveBorder img:global(.avatar__photo--xl), .liveBorder a:global(.avatar__photo--xl) img{
  --live-border-witdh: 6px;
}
.liveBorder img:global(.avatar__photo--lg), .liveBorder a:global(.avatar__photo--lg) img{
  --live-border-witdh: 4px;
}
.liveBorder img:global(.avatar__photo--sm), .liveBorder a:global(.avatar__photo--sm) img{
  --live-border-witdh: 2px;
}

@keyframes liveBorderAppear {
  0% {
    border-width: 0;
  }
  100% {
    border-width: var(--live-border-witdh);
  }
}

@keyframes liveBorderPulse {
  0% {
    border-color: #e53935;
  }
  100% {
    border-color: #a31515;
  }
}

.communityList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.communityMember {
  color: inherit;
  flex-grow: 0;
  padding: 0 0.3em 0.3em;
  display: inline-block;
}
.communityMember-xs {
  --ifm-avatar-photo-size: 30px;
}
.communityMember-sm {
  --ifm-avatar-photo-size: 50px;
}
.communityMember-md {
  --ifm-avatar-photo-size: 100px;
}
.communityMember-lg {
  --ifm-avatar-photo-size: 150px;
}
.communityMember-xl {
  --ifm-avatar-photo-size: 300px;
}

.communityMember:hover img {
  transform: scale(1.05);
  transition-duration: 75ms;
}

.communityHome {
  justify-content: center;
}

.communityHome .communityMember {
  padding: 0 1% 2%;
}

.communityHome .communityMember img {
  --ifm-avatar-photo-size: calc(max(50px,min(100vw/6,100px)));
}

.communityCalendar {
  justify-content: right;
  padding: 0;
}

.communityCalendar .communityMember {
  margin: 0;
  padding: 0;
  margin-left: -1rem;
}