/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.player {
  border: 0.3em solid var(--ifm-color-secondary);
  padding: 0px;
  background: var(--ifm-color-secondary);
  border-radius: 0.3em;
}

.teamlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -2rem;
}

.teamlistmember {
  color: inherit;
  flex-grow: 0;
  padding: 0 1rem 2rem;
}