/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.videoplayer {
  border: 0.3em solid var(--ifm-color-secondary);
  padding: 0px;
  background: var(--ifm-color-secondary);
  border-radius: 0.3em;
}

.teamlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: -2rem;
}

.teamlistmember {
  color: inherit;
  flex-grow: 0;
  padding: 0 1% 2%;
}

.teamlistmember:hover img {
  transform: scale(1.05);
  transition-duration: 75ms;
}

.teamlistmember img {
  --ifm-avatar-photo-size: calc(max(50px,min(100vw/6,96px)));
}