.header {
  background-size: cover;
  background-image: url("/img/header.webp");
  background-repeat: no-repeat;
  background-position: left top;
}

.header h1 {
  text-shadow: 2px 2px 6px var(--ifm-color-black);
}

.buttonSecondary {
  color: var(--ifm-color-gray-900);
  text-shadow: 2px 2px 3px var(--ifm-color-white);
  background-color: rgba(255, 255, 255, .5);
}

.buttonSecondary:hover {
  background-color: var(--ifm-button-background-color);
}

[data-theme='dark'] .buttonSecondary {
  color: var(--ifm-color-gray-900)!important;
}

[data-theme='dark'] .header {
  color: var(--ifm-color-white);
}

.videoplayer {
  border: 0.3em solid var(--ifm-color-secondary);
  padding: 0px;
  background: var(--ifm-color-secondary);
  border-radius: 0.3em;
}

.members {
  justify-content: center;
}

.members .community__member img {
  --ifm-avatar-photo-size: calc(max(48px, min(100vw/6, 96px)));
}

.members div.community__member {
  padding: 0 1% 2%;
}

.members .community__list {
  justify-content: center;
}