.header {
  background-size: cover;
  background-image: url("/img/header-sm.jpg");
  background-repeat: no-repeat;
  background-position: left top;
}

.header h1 {
  text-shadow: 2px 2px 6px #000000;
}

.videoplayer {
  border: 0.3em solid var(--ifm-color-secondary);
  padding: 0px;
  background: var(--ifm-color-secondary);
  border-radius: 0.3em;
}

.members {
  justify-content: center;
}

.members .community__member img {
  --ifm-avatar-photo-size: calc(max(48px, min(100vw/6, 96px)));
}

.members div.community__member {
  padding: 0 1% 2%;
}

.members .community__list {
  justify-content: center;
}

@media only screen and (min-width: 600px) {
  .header {
    background-image: url("/img/header-md.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .header {
    background-image: url("/img/header-lg.jpg");
  }
}